/**** Start Default****/

.navbar-dark .navbar-nav .active > a, 
.navbar-dark .navbar-nav .active > a:hover, 
.navbar-dark .navbar-nav .active > a:focus, 
.navbar-dark .navbar-nav .nav-link.active,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.carousel-indicators .active,
.tool-box .gear-cheak
{
	background-color: #e426d5;
}
.navbar-dark .navbar-brand span,
.about span,
.testimonal span,
.footer h3,
.footer span
{
	color: #e426d5
}
.tool-box .color-option,
.testimonal .carousel-indicators li.active,
.price_table .price_box:hover p 
{
	border: 3px solid #e426d5;
}

.dropdown-menu{
	border-top: 3px solid #e426d5;
}

/**** End Default****/